body {
  transition: all 0.2s ease;
  font-family: monospace;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  position: relative;
}
#Heading {
  background-color: rgb(109, 108, 108);
  font-weight: lighter;
  margin: 0 0 40px 0px;
  padding: 2% 3%;
  color:white;
}
.jumbotron{
  background-color: grey;
  padding: 2%;
  margin-top: 9.4%;
  /* position:absolute; */
  /* bottom:10000; */
color:white;
}
p{
  font-size: 2rem;
}


.userInput {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: monospace;
  text-align: center;

  /* height: 100px; */
  /* height: 20vh;  */
  /* overflow: unset; */
}

.inputButton {
  margin: 3% 5%;
  width: 50%;
}

.container {
  width: 600px;
  height: 380px;
  margin: 0px auto;
  border-radius: 4px;
  font-family: monospace;
  text-align: center;
  font-size: 2rem;
}

img{
    /* margin-top:10px; */
  background-color: black;
  border: 2px solid grey;
  border-radius: 100px;
  opacity: 1.5;
  /* display: block; */
  /* margin: auto; */
}
/* What about adding rain and sunlight stuff according to place and time. */
/*adding rain img and making opacity 0*/

